<div>
  <form class="col-md-4" #form="ngForm">
    <div class="form-group">
      <label for="employee-name">Name</label>
      <input type="text" class="form-control" id="employee-name" name="employee-name" [(ngModel)]="employee.name" minlength="4"
        required>
    </div>
    <div class="form-group">
      <label for="employee-designation">Designation</label>
      <input type="text" class="form-control" id="employee-designation" name="employee-designation" [(ngModel)]="employee.designation" required>
    </div>
    <div class="form-group">
      <label for="">Salary</label>
      <input type="number" class="form-control" id="employee-salary" name="employee-salary" [(ngModel)]="employee.salary" required>
    </div>
    <div class="form-group" style="text-align: center">
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="save()">{{employee.id>0?'Update':'Save'}}</button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </form>

</div>