<div class="form-group">
  <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
</div>
<div class="form-group">
  <button class="btn btn-success" (click)="addEmployee()">Add</button>
</div>
<table class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | search : searchString">
      <td>{{employee.name}}</td>
      <td>{{employee.designation}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button class="btn btn-primary" (click)="editEmployee(employee)">Edit</button>
        <button class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>